<div>
    <h3>
        #{{ message.id }} (gen {{ message.generation }})
    </h3>

    <div class="row">
      <div class="col-sm-12">
        {{message.numberOfChildrenLeft}} offspring remaining
      </div>
    </div>
    {{#if message.rejected}}
    <div class="row">
      <div class="col-sm-12">
        Rejected
      </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col-sm-12">
          <a href="{{message.sound.url}}">download link</a>
        </div>
    </div>

    <button class="btn btn-primary play-button">Play</button>
    <a class="btn btn-default" href="#messages/{{message.id}}/edit">Edit</a>
</div>
